body{
    margin: 0;
     background-image: url(images/1-big-viburnum.jpg);
}
.wrapper-1{
    background-color: rgba(255, 255, 255, 60%);
    border-width: 5px;
    border-color: green;
    border-style: solid;
    padding: 10px;
}