.banner{
    background-color: rgb(237, 237, 237);
    background-image: url(images/4-uwm-hero.jpg);
    padding-bottom: 410px;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.colophon{
    background-color: rgb(255, 217, 0);
    padding-top: 10px;
}
h1{
    margin-top: 0;
}
.wrapper-2{
    padding-top: 10px;
}